[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"quart-schema[pydantic]" = "*"
ibm-watson = ">=9.0.0"
ibm-cloud-sdk-core = "3.22.1"
common = {file = "../../libs/common/src", editable = true}

[requires]
python_version = "3.12"

[dev-packages]
