[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"quart-schema[pydantic]" = "*"
pydantic = "*"
aiohttp = "*"
logstash_formatter = "*"
requests = "*"
jwt = "*"
common = {editable=true, path="../../libs/common/src"}
quart-schema = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"

[dev-packages]
