name: Python tests

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
          cache: 'pipenv'
      - name: Install pipenv
        run: pip install pipenv
      - name: Verify Pipfile and Pipfile.lock are in sync
        run: pipenv verify
      - name: Install dependencies
        run: make install
      - name: Python test
        run: make test-python
