name: Train & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
          cache: 'pipenv'
      - name: Install pipenv
        run: pip install pipenv
      - name: Install dependencies
        run: make install
      - name: Validate data
        run: make validate
      - name: Train
        run: make train
      - name: Test
        run: make test-rasa
      - name: Update results
        if: success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: output-files
          path: |
            models
            results
            train_test_split
          retention-days: 7
